<h1>SocialPaper</h1>

 

<!-- 
<div ng-controller="Ctrl">
  <form ng-submit="addImg()">
    <input ng-model="picture" type="file" id="take-picture" capture="camera" accept="image/*" value="Take picture">
  </form> -->

<!--   <input type="file" capture="camera" accept="image/*" id="takePictureField">
  </br>
  <img id="yourimage" style="width:60%"> -->

<!--  <img ng-if="image" src="{{image}}" alt="">
  <form action="">
    <input my-upload type="file" name="upload" capture="camera" accept="image/*">  
  </form> -->
<!--   <input type="file" file-model="myFile" capture="camera" accept="image/*">
  <button ng-click="uploadFile()">upload me</button> -->

<div>
  <h3>New Search</h3>
  <%= form_for @article, :html => {:multipart => true} do |f| %>
    
      <label>Attach image</label></br>  
      <input id="article_image" name="article[image]" type="file" capture="camera" accept="image/*" >
      </br>
    <p><%= f.submit value="Find article"%></p>
  <% end %>
</div>
</br>
</br>
<h3>Previous Searches</h3>
<div>  
  <table border="1" cellpadding="2" cellspacing="0">
    <tbody>
      <% @articles.each do |a| %>
          <tr>
            <td><p><%=a.periodical%></p></td>
            <td><p><%=a.headline%></p></td>
            <td><p><%=a.url%></p></td>
          </tr>
      <%end%>
    </tbody>
  </table>                    
</div>

<!-- <form name="takePicture" ng-controller="Ctrl"> -->

