

 

<!-- 
<div ng-controller="Ctrl">
  <form ng-submit="addImg()">
    <input ng-model="picture" type="file" id="take-picture" capture="camera" accept="image/*" value="Take picture">
  </form> -->

<!--   <input type="file" capture="camera" accept="image/*" id="takePictureField">
  </br>
  <img id="yourimage" style="width:60%"> -->

<!--  <img ng-if="image" src="{{image}}" alt="">
  <form action="">
    <input my-upload type="file" name="upload" capture="camera" accept="image/*">  
  </form> -->
<!--   <input type="file" file-model="myFile" capture="camera" accept="image/*">
  <button ng-click="uploadFile()">upload me</button> -->

<div class="row">
  <p>New Search</p>
  <%= form_for @article, :html => {:multipart => true} do |f| %>
    
      
      <input id="article_image" name="article[image]" type="file" capture="camera" accept="image/*" >
      </br>
    <p><%= f.submit value="Find article"%></p>
  <% end %>
</div>
</br>
</br>

<div class="row">  
  <div>
  <p>Previous Searches</p>
  <table class="table">
    <thead>
      <tr>
        <th>Date Requested</th>
        <th>Periodical</th>
        <th>Article</th>
      </tr>
    </thead>  
    <tbody>
      <% @articles.each do |a| %>
          <tr>
            <td><%=a.created_at%></br>
                <%= link_to "Delete", article_path(a.id), method: :delete %></td>
            <td><%=a.periodical%></td>
            <td><a href="<%=a.url%>"><%=a.headline%></a></td>
          </tr>
      <%end%>
    </tbody>
  </table>   
  </div>                 
</div>

<!-- <form name="takePicture" ng-controller="Ctrl"> -->

